li .icon__pause,
li .icon__play {
    font-size: 18px;
    height: 18px;
}

.icon__pause {
    margin-right: 11px;
    width: 15px;
}

.icon__pause:after {
    content: '⏸';
}

.icon__play {
    width: 18px;
}

.icon__play:after {
    content: '▶';
}

.icon__play:hover {
    color: rgb(224, 108, 108);
}